:root {
	--palette-tangerine-100: #ff5a36;
	--palette-tangerine-200: #ff9c86;
	--palette-tangerine-300: #ffbdaf;
	--palette-tangerine-400: #ffded7;
	--palette-denim-100: #193251;
	--palette-denim-200: #7589a2;
	--palette-light-grey: #f8f8f8;
	--palette-medium-grey: #e0e4e8;
}
